@import "../../components/nav/variables";

.cartSection {
  @include flexContainer(column, center);

  div {
    .cartHeading {
      font-size: 25px;
      font-weight: 600;
    }
    .tableContainer {
      border-collapse: collapse;
      width: 100%;

      th {
        border-top: 2px solid $pink-color;
        border-bottom: 2px solid $pink-color;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        text-align: left;
        padding: 8px;
        font-size: 15px;
        width: 20rem;
        margin-bottom: 20rem;
      }

      .cartImg {
        width: 100px;
        height: 80px;
      }

      .tdata {
        text-align: center !important;
        font-size: 14px;
        font-weight: 600;
      }
      tr {
        .cartimgDiv {
          @include flexContainer(column, center);
          td {
            .cartTitle {
              text-transform: capitalize;
              font-size: 13px;
              padding-top: 2rem;
              color: #000;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
